@font-face {
    font-family: 'Arual';
    src: url("./Arual.ttf");
}
@font-face {
    font-family: 'Citrica-Regular';
    src: url("./Citrica-Regular.ttf");
}
@font-face {
    font-family: 'seto';
    src: url("./zcool.ttf");
}

@font-face {
    font-family: 'zcool';
    src: url("./zcool.ttf");
}
